{% extends "account/base.html.twig" %}

{% block title %} Bienvenue {{user.fullName }} ! {% endblock %}
 
    
{% block body %}  
  <h2> Bienvenue dans votre page perso </h2>
{% endblock %}
 
 

 





