{% extends "base.html.twig" %}

{% block title %} reset de mot de passe {% endblock %}
{% block body %}

<div class="container">
<h1> Réinitialisation du mot de passe</h1>

{#{% if hasError %}
<div class="alert alert-danger"> Une erreur est survenue , l'adresse est invalide</div>
 {% endif %}#}
 
{{form(emailForm)}}

</div>



{% endblock %}

