
{% extends "base.html.twig" %}

{% block title %} Nouveau mot de passe {% endblock %}
{% block body %}

<div class="container">
<h1> Entrer votre nouveau de passe</h1>

{#{% if hasError %}
<div class="alert alert-danger"> Une erreur est survenue , l'adresse est invalide</div>
 {% endif %}#}
 
<form method="post">
<label for="pass"> Mot de passe </label>
<input type="password" name="password" id="pass">
<input type="hidden" name="token" value={{ token }}>
<button>Valider </button>






</form>

</div>



{% endblock %}
