{% extends 'account/base.html.twig' %}

{% block title %} achat d'un véhicule !{% endblock %}

{% block body %}




  <p class="alert-success"> Vous avez réservé <strong>{{vente.vehicule.marque }} {{ vente.vehicule.modele }} </strong> pour un achat , 
 vous êtes invité à contacter le garage pour visiter le véhicule et l'acheter s'il vous convient!
{#{% else %}

 <p class="alert-danger">  le véhicule est déja réservé par autre client  </p>
   {% endif %}
</div>#}
{% endblock %}
   