

{#<footer class=" bg-light py-2 text-center fixed-bottom "> 
 Copyright Garage Bah !  
 </footer>#}

<footer class="bg-light fixed-bottom mr-3 ml-3">

  <!-- Copyright -->
   <p class ="text-center">© 2020 Copyright:
    <a href="#"> Garage Bah</a> </p>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
