{% extends "admin_garage/base.html.twig" %}

{% block title %} Ajout d'un type de bon{% endblock %}

{% block body %}

<div class="container">
<h1> Ajouter un type de bon </h1>

{{form_start(form)}}
{{form_widget(form)}}
<button type ="submit" class="btn btn-success"> enregistrer </button>
{{form_end(form)}}

</div>
    
{% endblock %}