{% extends "admin_garage/base.html.twig" %}


{% block title %} Administration du garage {% endblock %}

{% block body %}

<h1 class ="w3-myfont"> Page d'administation du garage </h1>
    
{% endblock %}