{% extends 'base.html.twig' %}
{# a voir ici pour adapter l'affichage de twig en fct du rôle du user #}



{% block title %}accueil{% endblock %}

{% block body %}
<div class="container">
<div class="jumbotron mt-3">
  <h1 class="display-3">Bienvenue chez Garage Bah!</h1>
  <p class="lead"> Des services de qualités à meilleur prix</p>
  <hr class="my-4">
 
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">consulter nos services</a>
    
  </p>
</div>

<button type="button" class="btn btn-outline-primary btn-lg ml-3">Réparation</button>
<button type="button" class="btn btn-outline-secondary btn-lg ml-3">ventes véhicules</button>
<button type="button" class="btn btn-outline-success btn-lg ml-3">location véhicules</button>

</div>
   
{% endblock %} 
