{% extends 'base.html.twig' %}
{# a voir ici pour adapter l'affichage de twig en fct du rôle du user #}



{% block title %}accueil{% endblock %}

{% block body %}
 <h4> Bienvenue au Garage des Frères Bah </h4>

   
{% endblock %}
