{% extends 'base.html.twig' %}
{# a voir ici pour adapter l'affichage de twig en fct du rôle du user #}



{% block title %}accueil{% endblock %}

{% block body %}


<div class="container">
<div class="jumbotron mt-3">
  <h1 class=>Bienvenue chez Garage Bah!</h1>
  <p class="lead"> Des services de qualités à meilleur prix</p>
  <hr class="my-4">
 
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">consulter nos services</a>
    
  </p>
</div>
<div>
<div>
<img src="/img/banniere.png" alt="image">

<button type="button" class="btn btn-outline-primary btn-lg ml-3"> Réparations</button></div>

<div>
<img src="/img/vente.png" alt="image"><button type="button" class="btn btn-outline-secondary btn-lg ml-3">ventes véhicules</button></div>
<div>
<img src="/img/location.png" alt="image"><button type="button" class="btn btn-outline-success btn-lg ml-3">location véhicules</button></div>

</div>
   
{% endblock %} 
