{%  extends 'admin_garage/base.html.twig'  %}

{% block title %}Modifier une location{% endblock %}


{% form_theme form _self %}

{% block body %}

<div class="container">

<h1 class ="text-center"> Modifier une location </h1>

{{form_start(form)}}
{{form_widget(form)}}
<button type ="submit" class="btn btn-success"> mettre à jour </button>
{{form_end(form)}}

</div>
 




 
    
{% endblock %}
{% block javascripts  %}




<script>
    $(document).ready(function () {
        bsCustomFileInput.init()
    })
</script>









{% endblock %}