{% extends 'base.html.twig' %}

{% block title %}contact{% endblock %}

{% block body %}

<div class="container mt-5">
<div class="card">
  <div class="card-header bg-info ">
    Contact
  </div>
  <div class="card-body">
  <div class="float-sm-right"><h5> <i class='fa fa-calendar mr-3'> Horaires</i> </h5>
   Du lundi au vendredi
<br>De 8h à 18h
<br>Le samedi
<br>De 9h à 15h </div>
    <h5 class="card-title">Adresse</h5>
    <p class="card-text"><i class="fa fa-map-marker">  Guinée Conakry, BP: 2984 Carrefour Dareslam</i></p>
     <p class="card-text"> <i class="fa fa-phone mr-3">  (00224) 628606025</i> </p> 
<p class="card-text"><i class="fa fa-envelope mr-3">   garageBah@gmail.com</i> </p></p> 

     
    <a href="#" class="btn btn-info">Envoyer un message</a>
  </div>
</div>
</div>

{% endblock %}