{% extends 'base.html.twig' %}

{% block title %}Entretien et diagnostic{% endblock %}

{% block body %}
    <h1 class= "mt-3 mb-3 ml-3 text-center" > Tarifs des réparations</h1>
    <div class="container">
        <div class="row">
        <div class="card text-white bg-secondary mb-3 ml-3 col-md-6 " style="max-width: 20rem;">
  <div class="card-header">Diagnostic générale</div>
  <div class="card-body">
    <h4 class="card-title">150 € </h4>
    <p class="card-text">Test du moteur - bôite de vitesse-contrôles roues - réglages phares et freins</p>
  </div>
</div>
<div class="card text-white bg-secondary mb-3 ml-3 col-md-4" style="max-width: 20rem;">
  <div class="card-header">Entretien moteur</div>
  <div class="card-body">
    <h4 class="card-title">80 €</h4>
    <p class="card-text">Vidange huile moteur - remplacement filtre à huile</p>
  </div>
</div>
<div class="card text-white bg-secondary mb-3 ml-3 col-md-4" style="max-width: 20rem;">
  <div class="card-header">Recharge Airco</div>
  <div class="card-body">
    <h4 class="card-title">60 €</h4>
    <p class="card-text">  contrôle du niveau du gaz réfrigérant </p>
  </div>
</div>
<div class="card text-white bg-secondary mb-3 ml-3  col-md-4" style="max-width: 20rem;">
  <div class="card-header">Carosserie</div>
  <div class="card-body">
    <h4 class="card-title">à Partir de 100 €</h4>
    <p class="card-text">Tout type de carosserie et peinture </p>
  </div>
</div>
<div class="card text-white bg-secondary mb-3 ml-3 col-md-4" style="max-width: 20rem;">
  <div class="card-header">Diagnostic réparation</div>
  <div class="card-body">
    <h4 class="card-title">à Partir de 30 €</h4>
    <p class="card-text">réparation mécanique </p>
  </div>
</div>
<div class="card text-white bg-secondary mb-3 ml-3 col-md-4" style="max-width: 20rem;">
  <div class="card-header">Vitrages</div>
  <div class="card-body">
    <h4 class="card-title">à Partir de 50 € </h4>
    <p class="card-text ">Remplacement vitre cassé </p>
  </div>
</div>


    
        </div>
    </div>

{% endblock %}
