{% extends 'base.html.twig' %}

{% block title %}Entretien et diagnostic{% endblock %}

{% block body %}
    <h1 > Tarifs des réparations</h1>
    <div class="container">
        <div class="row">
    <div class="card border-info mb-3 col-md-4" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body text-info">
            <h5 class="card-title">Info card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>

    <div class="card border-info mb-3 col-md-4" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body text-info">
            <h5 class="card-title">Info card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card border-info mb-3 col-md-4" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body text-info">
            <h5 class="card-title">Info card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
            <div class="card border-info mb-3 col-md-4" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body text-info">
                    <h5 class="card-title">Info card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card border-info mb-3 col-md-4" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body text-info">
                    <h5 class="card-title">Info card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card border-info mb-3 col-md-4" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body text-info">
                    <h5 class="card-title">Info card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>



        </div>
    </div>

{% endblock %}
