{% extends 'base.html.twig' %}

{% block title %}Offres et Promotions{% endblock %}

{% block body %}

<h1><span class="badge badge-secondary mt-5 ml-3 text-center"> Aucune promo en ce moment , mais pour chaque réparation effectué 
vous benéficiez de points de fidelité  ! </span></h1>
{% endblock %}