{% extends 'base.html.twig' %}

{% block title %}Offres et Promotions{% endblock %}

{% block body %}

<h3> Aucune promo en ce moment , mais pour chaque réparation effectué 
vous benéficiez de points de fidelité  ! </h3>
{% endblock %}