{% extends 'base.html.twig' %}

{% block title %}Partenariat{% endblock %}

{% block body %}

<div class="mt-5">
<img src="img/logoPartenaires/logoNissan.png" alt="logoNissan",style="height: 20px; width: 50% ">
<img src="img/logoPartenaires/logoToyota.png" alt="logoToyota",style="height: 5px; width: 20%" >
<img src="img/logoPartenaires/logoPeugeot.png" alt="logoPeugeot",style="height: 20px; width: 50%" >
<img src="img/logoPartenaires/logoRenault.png" alt="logoRenault" ,style="height: 20px; width: 50%" >
</div>
{% endblock %}