{% extends "base.html.twig" %}

{% block title %} Page non autorisée {% endblock %}

{% block body %}
<div class="container">
  <h1> vous n'êtes pas autorisé à faire cette action </h1>
</div>
    
{% endblock %}