{% extends "base.html.twig" %}

{% block title %} Page non trouvée {% endblock %}

{% block body %}
<div class="container">
  <h1> cette page n'existe pas</h1>
  <a href= "{{path('accueil')}}"> Accueil </a>
</div>
    
{% endblock %}