{% extends "admin_garage/base.html.twig" %}

{% block title %}  Modifier une activité de la réparation  {% endblock %}

{% block body %}

<div class="container">
<h1> Modifier une activité de la réparation </h1>

{{form_start(form)}}
{{form_widget(form)}}
<button type ="submit" class="btn btn-success"> mettre à jour </button>
{{form_end(form)}}

</div>
    
{% endblock %}